{% load static %}
  <footer class="d-flex flex-wrap align-items-center justify-content-center align-items-center px-5 py-3 my-4 border-top text-bg-info">
    <p class="col-md-4 mb-0 text-white">&copy; 2024 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi" width="100" height="100" role="img" aria-label="Bootstrap" src="{% static 'techstore/images/tnp.png' %}">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
  </footer>
