{% load static %}
<form method="POST" action="{% url 'home' %}" class="p-4 p-md-5 border rounded-3 bg-body-tertiary needs-validation" novalidate autocomplete="">
  {% csrf_token %}

  <h1 class="fs-4 card-title fw-bold mb-4 text-center">LOGIN</h1>
  <div class="mb-3">
    <label class="mb-2 text-muted">User Name</label>
    <input type="text" class="form-control" name="username" required autofocus>
    <div class="invalid-feedback">
      User Name is invalid
    </div>
  </div>

  <div class="mb-3">
    <div class="mb-2 w-100">
      <label class="text-muted">Password</label>
      <a href="" class="float-end">
        Forgot Password?
      </a>
    </div>
    <input type="password" class="form-control" name="password" required>
    <div class="invalid-feedback">
      Password is required
    </div>
  </div>


  <div class="d-flex align-items-center">
    <div class="form-check">
      <input type="checkbox" name="remember" id="remember" class="form-check-input">
      <label for="remember" class="form-check-label">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary ms-auto">
      Login
    </button>
  </div>


  {% if messages %}
  <div class="d-flex justify-content-center">
    <!-- Adjust width as needed -->
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show mt-3 p-1 px-3 mb-0 text-center" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    
  </div>
{% endif %}
  

</form>