#sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  color: #fff;
}

.dropdown-toggle { outline: 0; }

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

body {
  background-color: #d2d5d8;

}









